<!DOCTYPE html>
<html>
<head>
    <title>Itinerary Website</title>
    <link rel="stylesheet" href="/static/style/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.css' type='text/css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/scripts/jquery-ui.min.js"></script>
    <script src="/static/scripts/script.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
</head>

<body>

    <div id="map" style='width: 1200px; height: 900px;'> </div>

    <nav id='listing-group' class='listing-group'>
        <input type='checkbox' id='scrollZoom' checked='checked'>
        <label for='scrollZoom'>Scroll zoom</label>
        <input type='checkbox' id='boxZoom' checked='checked'>
        <label for='boxZoom'>Box zoom</label>
        <input type='checkbox' id='dragRotate' checked='checked'>
        <label for='dragRotate'>Drag rotate</label>
        <input type='checkbox' id='dragPan' checked='checked'>
        <label for='dragPan'>Drag pan</label>
        <input type='checkbox' id='keyboard' checked='checked'>
        <label for='keyboard'>Keyboard</label>
        <input type='checkbox' id='doubleClickZoom' checked='checked'>
        <label for='doubleClickZoom'>Double click zoom</label>
        <input type='checkbox' id='touchZoomRotate' checked='checked'>
        <label for='touchZoomRotate'>Touch zoom rotate</label>
    </nav>

    <form action="/create/" method="POST" autocomplete="off">
        {% csrf_token %}
        <div>
            {{ form.location.errors }}
            <label for="{{ form.location.id_for_label }}">Location: </label>
            <div class="inline_block">
                {{ form.location }}
                <div id="autocomplete_area"></div>
            </div>
        </div>
        {{ form.longitude }}
        {{ form.latitude }}
        <div>
            {{ form.trip_name.errors }}
            <label for="{{ form.trip_name.id_for_label }}">Trip Name: </label>
            {{ form.trip_name }}
        </div>
        <div>
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Description: </label>
            {{ form.description }}
        </div>
        <div>
            {{ form.start_date.errors }}
            <label for="{{ form.start_date.id_for_label }}">Start Date: </label>
            {{ form.start_date }}
        </div>
        <div>
            {{ form.end_date.errors }}
            <label for="{{ form.end_date.id_for_label }}">End Date: </label>
            {{ form.end_date }}
        </div>
        <div>
            {{ form.public.errors }}
            <label for="{{ form.public.id_for_label }}">Who can see this trip: </label>
            {{ form.public }}
        </div>
        <input type="submit" value="Create" id="create_submit"/>
    </form>

    <script>
        //Add the JQuery calenders to the two input fields
        $('#id_start_date').datepicker({dateFormat: "yy-mm-dd"});
        $('#id_end_date').datepicker({dateFormat: "yy-mm-dd"});
    </script>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiaGVpcG8iLCJhIjoiY2o0NGt5ZjUwMDBucjJxbXFkY3NocDB6NiJ9.hpEpBTqgwgHHW-gSA6ZNzg';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            center: [-71.0571, 42.3601], // starting position
            zoom: 9
        });

        map.addControl(new mapboxgl.NavigationControl());
        map.addControl(new mapboxgl.GeolocateControl());

        var layers = document.getElementById('listing-group');

        $("#create_submit").prop('disabled', true);
        var input_box = $("#id_location");

        input_box.keyup(function(event) {
            var query = input_box.val();
            if (query != old_query) {
                $("#id_longitude").val("");
                $("#id_latitude").val("");
                $("#create_submit").prop('disabled', true);
                old_query = query;

                if (query) {
                    searchAutocomplete(query, "place,address", "updateCoordinates");
                }
            }
        }).keydown(navigateAutocomplete)
        .focus(showAutocomplete);

        window.onclick = function(event) {
            if (event.target != document.getElementById("id_location") && event.target != document.getElementById("autocomplete_area")) {
                $("#autocomplete_area").hide();
            }
        }

        function updateCoordinates(index) {
            goToLocation(index, map);

            $("#id_longitude").val(autocomplete_options[index].center[0]);
            $("#id_latitude").val(autocomplete_options[index].center[1]);
            $("#create_submit").prop('disabled', false);
        }

        document.getElementById('listing-group').addEventListener('change', function(e) {
            var handler = e.target.id;
                if (e.target.checked) {
                        map[handler].enable();
                } else {
                        map[handler].disable();
                }
        });
    </script>
</body>
</html>
