<!DOCTYPE html>
<html>
<head>
    <title>Itinerary Website</title>
    <link rel="stylesheet" href="/static/style/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/scripts/jquery-ui.min.js"></script>
    <script src="/static/scripts/script.js"></script>
    {% csrf_token %}
</head>

<body>
    <script src="/static/scripts/fb_login.js"></script>
    {% if error %}
        <h4>{{ error }}</h4>
    {% endif %}
    {% if trip %}
        <h2>{{ trip.trip_name }}</h2>
        {% for day in days %}
            <div id="day_{{day.id}}">
                <h3>{{day.date}}</h3>
                {% if permissions == "Can Edit" or permissions == "Creator" %}
                {% for item in day.items %}
                    <h4 class="movable item" onmousedown="pickUp(this)" onmouseup="drop(this)">{{item.item_name}}</h4>
                {% endfor %}
                <div id="add_area_day_{{day.id}}">
                    <input type="text" maxlength="100" id="new_item_day_{{day.id}}">
                    <button onclick="addItem({{day.id}})">Add</button>
                </div>
                {% else %}
                {% for item in day.items %}
                    <h4 class="item">{{item.item_name}}</h4>
                {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        {% if permissions == "Creator" %}
        <button onclick="showShareModal()">Share With Friends</button>
        <div id="modal">
            <div id="share_modal">
                <div id="share_modal_header">
                    <span id="close_button" onclick="hideModal()">Close</span>
                    <h3>Choose Friends Who Can View And Add To Your Plans</h3>
                </div>
                <div id="friends_box"></div>
                <div id="shared_box"></div>
                <div id="share_modal_header">
                    <button onclick="shareWithFriends()">Share</button>
                </div>
            </div>
        </div>
        {% endif %}
        <div id="empty_space"></div>
    {% endif %}
</body>
</html>