<!DOCTYPE html>
<html>
<head>
    <title>Itinerary Website</title>
    <link rel="stylesheet" href="/static/style/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.css' type='text/css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/scripts/jquery-ui.min.js"></script>
    <script src="/static/scripts/script.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.min.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    {% csrf_token %}
</head>

<body id="trip_page">
    <script src="/static/scripts/fb_login.js"></script>
    {% if error %}
        <h4>{{ error }}</h4>
    {% endif %}
    {% if trip %}
        <div id="trip_itinerary">
            <div class="inner">
                <h2>{{ trip.trip_name }}</h2>
                {% if permissions == "Can Edit" or permissions == "Creator" %}
                <p><a onclick="changeStartLocations()" href="#">Set or Change Where You'll Be Staying</a></p>
                {% endif %}
                {% for day in days %}
                    <div class="day_area" id="day_{{day.id}}">
                        <h3>{{day.date}}</h3>
                        {% if permissions == "Can Edit" or permissions == "Creator" %}
                        {% for item in day.items %}
                            <h4 id="item_{{item.id}}" class="movable item" onmousedown="pickUp(this)" onmouseup="drop(this)">{{item.item_name}}</h4>
                        {% endfor %}
                        <h4 class="movable" height="0"></h4>
                        <div id="add_area_day_{{day.id}}">
                            <input type="text" maxlength="100" id="new_item_day_{{day.id}}">
                            <button onclick="addItem({{day.id}})">Add</button>
                        </div>
                        {% else %}
                        {% for item in day.items %}
                            <h4 class="item">{{item.item_name}}</h4>
                        {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                {% if permissions == "Creator" %}
                <button onclick="showShareModal()">Share With Friends</button>
                <div id="modal" class="modal">
                    <div id="share_modal">
                        <div id="share_modal_header">
                            <span class="close_button" onclick="hideModal()">Close</span>
                            <h3>Choose Friends Who Can View And Add To Your Plans</h3>
                        </div>
                        <div id="friends_box"></div>
                        <div id="shared_box"></div>
                        <div id="share_modal_header">
                            <button onclick="shareWithFriends()">Share</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if permissions == "Can Edit" or permissions == "Creator" %}
                <div id="day_modal" class="modal">
                    <div id="day_modal_content">
                        <div id="day_modal_header">
                            <span class="close_button" onclick="hideDayModal()">Close</span>
                            <h3>Where Will You Be Staying During Your Trip?</h3>
                        </div>
                        <div id="day_map" style="width: 600px; height: 300px;"></div>
                        <div id="find_start_location">
                            <input type="text" id="search_location">
                            <button onclick="searchLocation()">Search</button>
                            <div id="autocomplete_area"></div>
                        </div>
                        <table id="current_days">
                            {% for day in days %}
                                <tr>
                                    <td>
                                        <h3>Day {{ forloop.counter }}: {{day.date}}</h3>
                                        {% if day.day_start_address %}
                                        <p class="day_start_address">{{day.day_start_address}}</p>
                                        {% else %}
                                        <p class="day_start_address">------------</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <input type="checkbox" class="select_days" value="{{day.id}}">
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    <button onclick="updateStartingLocations()">Save</button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div id="trip_functions">
            <div id="trip_tabs">
                <div class="tab highlighted" onclick="showSearch()">Search</div>
                <div class="tab" onclick="showInterested()">Interested</div>
            </div>
            <div id="map" style='width: 100%; height: 400px;'></div>
            <script>
                var trip_lat = {{ trip.latitude }};
                var trip_lng = {{ trip.longitude }};
                mapboxgl.accessToken = 'pk.eyJ1IjoiaGVpcG8iLCJhIjoiY2o0NGt5ZjUwMDBucjJxbXFkY3NocDB6NiJ9.hpEpBTqgwgHHW-gSA6ZNzg';
                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v10',
                    center: [trip_lng, trip_lat], // starting position
                    zoom: 13
                });
                map.addControl(new mapboxgl.NavigationControl());
            </script>

            {% if permissions == "Can Edit" or permissions == "Creator" %}

            <div id="find_item">
                <input type="text" id="search_item">
                <button onclick="findThingsToDo()">Search</button>
                <div id="search_results"></div>
            </div>
            <div id="interested_list">
                {% for item in interested %}
                    <h4 id="item_{{item.id}}" class="movable item" onmousedown="pickUp(this)" onmouseup="drop(this)">{{item.item_name}}</h4>
                {% endfor %}
            </div>
            <script>
                current_query = null;
                current_center = null;
                current_radius = null;
                function findThingsToDo() {
                    var bounds = map.getBounds();
                    // var sw = convertLatLngToString(bounds.getSouthWest());
                    // var ne = convertLatLngToString(bounds.getNorthEast());

                    current_query = $('#search_item').val();
                    current_center = map.getCenter();
                    current_radius = parseInt((Math.abs(bounds.getNorth() - current_center.lat)) * (Math.PI/180) * 6371000);
                    if (current_radius > 40000) {
                        current_radius = 40000;
                    }
                    getResults(1);
                }

                var current_venues = null;
                function getResults(page) {
                    var url = '/getFoursquareResults?query='+ current_query + '&ll=' + convertLatLngToString(current_center) + '&radius=' + current_radius + '&page=' + page;

                    $.ajax({
                        type: 'GET',
                        url: url,
                        beforeSend: function (request) {
                            request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                        },
                        success: function(response) {
                            console.log(response);
                            current_venues = response['venues'];
                            showResults(current_venues);
                        },
                    });
                }

                var interested_items = [];
                {% for item in interested %}
                    interested_items.push('{{item.fsq_id}}');
                {% endfor %}

                var markers = [];
                function showResults(venues) {
                    $('#search_results').empty();
                    removeMarkers();

                    var add_to_day = $('<select/>').append('<option val="" disabled selected>Add</option>');
                    for (var i = 1; i < $('.day_area').length + 1; i++) {
                        add_to_day.append($('<option/>').text('Day ' + i).val(i));
                    }

                    for (var i = 0; i < venues.length; i++) {
                        var price = '';
                        if (venues[i].hasOwnProperty('price')) {
                            if (venues[i].price.tier == 4) {
                            price = '<span><span>$$$$</span></span>'
                            } else if (venues[i].price.tier == 3) {
                                price = '<span><span>$$$</span><span class="light_price">$</span></span>'
                            } else if (venues[i].price.tier == 2) {
                                price = '<span><span>$$</span><span class="light_price">$$</span></span>'
                            } else if (venues[i].price.tier == 1) {
                                price = '<span><span>$</span><span class="light_price">$$$</span></span>'
                            }
                        }

                        var button_function;
                        var toggled;
                        if (interested_items.indexOf(venues[i].id) == -1) {
                            button_function = addItem;
                            toggled = 'toggled_off';
                        } else {
                            button_function = removeFromInterested;
                            toggled = 'toggled_on';
                        }

                        $('#search_results').append(
                            $('<div/>')
                                .addClass('result')
                                .append(
                                    $('<div/>')
                                        .addClass('venue_image_area')
                                        .append(
                                            $('<img/>')
                                                .attr('id', 'image_' + venues[i].id)
                                                .attr('src', venues[i].photos.groups[0].items[0].prefix + '100x100' + venues[i].photos.groups[0].items[0].suffix)
                                        )
                                ).append(
                                    $('<div/>')
                                        .addClass('venue_info_area')
                                        .append(
                                            $('<h4/>')
                                                .attr('id', 'name_' + venues[i].id)
                                                .text(venues[i].name)
                                        ).append(
                                            $('<span/>')
                                                .text(venues[i].rating)
                                                .css('background-color', '#' + venues[i].ratingColor)
                                                .addClass('venue_rating')
                                        ).append(
                                            $(price)
                                                .addClass('venue_price')
                                        ).append(
                                            add_to_day.clone().on('change', {venue: venues[i]}, addItem)
                                        ).append(
                                            $('<span>')
                                                .text('Interested')
                                                .addClass('interested_button ' + toggled)
                                                .on('click', {venue: venues[i]}, button_function)
                                        )
                                )
                        );

                        var marker_image = document.createElement('img');
                        marker_image.src = '/static/images/map_marker.png';
                        var venue_marker = new mapboxgl.Marker(marker_image, {offset: [-9, -32]}).setLngLat([venues[i].location.lng, venues[i].location.lat]).addTo(map);
                        markers.push(venue_marker);
                    }
                }

                function convertLatLngToString(coordinates) {
                    var result = coordinates.lat + ',' + coordinates.lng;
                    return result;
                }

                function removeMarkers() {
                    for (var i = 0; i < markers.length; i++) {
                        markers[i].remove();
                    }
                    markers = [];
                }

                function addItem(event) {
                    var venue = event.data.venue;
                    var button = event.target;
                    $(button).removeClass('toggled_off').addClass('toggled_on');
                    $(button).off('click').on('click', {venue: venue}, removeFromInterested);
                    var new_item = {
                        'fsq_id': venue.id,
                        'item_name': venue.name,
                        'item_longitude': venue.location.lng,
                        'item_latitude': venue.location.lat,
                        'trip': 'http://' + server_host + ':' + server_port + '/api/trips/' + {{trip.id}} + '/'
                    }

                    var day_number = event.target.value;
                    var day_id = null
                    if (day_number) {
                        day_id = document.getElementsByClassName('day_area')[day_number - 1].id.slice(4);
                        new_item['day'] = 'http://' + server_host + ':' + server_port + '/api/days/' + day_id + '/';
                    }

                    event.target.selectedIndex = 0;
                    console.log('Added');

                    $.ajax({
                        type: 'POST',
                        url: 'http://' + server_host + ':' + server_port + '/api/items/',
                        beforeSend: function (request) {
                            request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                        },
                        data: new_item,
                        success: function(item) {
                            //Update page
                            console.log(item);
                            var item_insert = '<h4 id="item_' + item.id + '" class="movable item" onmousedown="pickUp(this)" onmouseup="drop(this)">' + item.item_name + '</h4>';
                            if (day_id) {
                                $(item_insert).insertBefore('div#add_area_day_' + day_id)
                                $('input#new_item_day_' + day_id).val('');
                            } else {
                                $('div#interested_list').append(item_insert);
                            }
                        },
                    });
                }

                function removeFromInterested(event) {
                    var venue = event.data.venue;
                    var button = event.target;
                    $(button).removeClass('toggled_on').addClass('toggled_off');
                    $(button).off('click').on('click', {venue: venue}, addItem);

                    $.ajax({
                        type: 'POST',
                        url: 'http://' + server_host + ':' + server_port + '/removeFromInterested',
                        beforeSend: function (request) {
                            request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                        },
                        data: {id: venue.id},
                        success: function(response) {
                            console.log(response);
                            //Update page
                            var item_id = response.item_id;
                            $('#item_' + item_id).remove();
                        },
                    });
                    console.log('Removed')
                }

                var days = [];
                {% for day in days %}
                days.push({
                    id: {{day.id}},
                    {% if day.day_start_address == None %}
                        address: null,
                    {% else %}
                        address: "{{day.day_start_address}}",
                    {% endif %}
                    {% if day.day_start_address == None %}
                        lng: null,
                    {% else %}
                        lng: {{day.day_start_longitude}},
                    {% endif %}
                    {% if day.day_start_address == None %}
                        lat: null
                    {% else %}
                        lat: {{day.day_start_latitude}}
                    {% endif %}
                });
                {% endfor %}

                var day_map = null;
                function changeStartLocations() {
                    $("#day_modal").show();
                    if (!day_map) {
                        day_map = new mapboxgl.Map({
                            container: 'day_map',
                            style: 'mapbox://styles/mapbox/streets-v10',
                            center: [trip_lng, trip_lat], // starting position
                            zoom: 13
                        });
                        day_map.addControl(new mapboxgl.NavigationControl());
                    }
                }

                var input_box = $("#search_location");
                var selected_day = {};
                input_box.keyup(function(event) {
                    var query = input_box.val();
                    if (query && query != old_query) {
                        old_query = query;
                        searchAutocomplete(query, "address", "getLocation");
                    }
                }).keydown(navigateAutocomplete)
                .focus(showAutocomplete);

                function getLocation(index) {
                    goToLocation(index, day_map);

                    selected_day.lng = autocomplete_options[index].center[0];
                    selected_day.lat = autocomplete_options[index].center[1];
                }

                function hideDayModal() {
                    $("#day_modal").hide();
                }

                var friends_list = [];
                var already_found = false;
                function showShareModal() {
                    $('#modal').show();
                    if (!already_found) {
                        $.ajax({
                            type: 'POST',
                            url: 'http://' + server_host + ':' + server_port + '/getFriends/',
                            beforeSend: function (request) {
                                request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                            },
                            success: function(friends) {
                                console.log(friends);
                                already_found = true;
                                for (var i = 0; i < friends['unshared'].length; i++) {
                                    friend = friends['unshared'][i];
                                    $('div#friends_box').append('<span id="friend_' + friends_list.length + '" onclick="switchFriend(this)" class="share_friends">' + friend.name + '</span>');
                                    friend.shared = false;
                                    friends_list.push(friend);
                                }

                                for (var i = 0; i < friends['shared'].length; i++) {
                                    friend = friends['shared'][i];
                                    $('div#shared_box').append('<span id="friend_' + friends_list.length + '" onclick="switchFriend(this)" class="share_friends">' + friend.name + '</span>');
                                    friend.shared = true;
                                    friends_list.push(friend);
                                }
                            },
                        });
                    }
                }

                function switchFriend(element) {
                    console.log(element.parentElement.id);
                    var parent = element.parentElement.id;
                    var index = parseInt(element.id.slice(7));
                    if (parent == 'friends_box') {
                        $('div#shared_box').append(element);
                        friends_list[index].shared = true;
                    } else if (parent == 'shared_box') {
                        $('div#friends_box').append(element);
                        friends_list[index].shared = false;
                    }
                    console.log(friends_list[index]);
                }

                function hideModal() {
                    $('#modal').hide();
                }

                function shareWithFriends() {
                    var share_ids = [];
                    for (var i = 0; i < friends_list.length; i++) {
                        if (friends_list[i].shared) {
                            share_ids.push(friends_list[i].id);
                        }
                    }

                    $.ajax({
                        type: 'POST',
                        url: 'http://' + server_host + ':' + server_port + '/shareWithFriends/',
                        beforeSend: function (request) {
                            request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                        },
                        data: {'id_list': share_ids},
                        success: function(response) {
                            hideModal();
                        },
                    });
                }

                function updateStartingLocations() {
                    var data = {};
                    data['days'] = [];
                    data['longitude'] = selected_day.lng;
                    data['latitude'] = selected_day.lat;
                    var checked_indices = [];
                    $('.select_days:checked').each(function(i) {
                        data['days'].push($(this).val());
                        checked_indices.push($('.select_days').index(this));
                    });
                    $.ajax({
                        type: 'POST',
                        url: 'http://' + server_host + ':' + server_port + '/updateStartLocations/',
                        beforeSend: function (request) {
                            request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                        },
                        data: data,
                        success: function(response) {
                            console.log(checked_indices);
                            for (var i = 0; i < checked_indices.length; i++) {
                                $('.day_start_address').eq(checked_indices[i]).text(response.address);
                            }
                        },
                    });
                }

                function showSearch() {
                    $('#interested_list').hide();
                    $('#find_item').show();
                }

                function showInterested() {
                    $('#find_item').hide();
                    $('#interested_list').show();
                }

                var share_modal = document.getElementById('share_modal');
                var day_modal = document.getElementById('day_modal');
                //Exit modal if user clicks outside the box
                window.onclick = function(event) {
                    if (event.target == share_modal) {
                        hideModal();
                    } else if (event.target == day_modal) {
                        hideDayModal();
                    } else if (event.target != document.getElementById("search_location") && event.target != document.getElementById("autocomplete_area")) {
                        $("#autocomplete_area").hide();
                    }
                }

                window.onmousemove = function(event) {
                    if (moving_item) {
                        moving_item.style.left = event.clientX - 60 + "px";
                        moving_item.style.top = event.clientY - 20 + "px";
                        for (var i = 0; i < items_list.length; i++) {
                            if (event.clientY < items_list[i].getBoundingClientRect().top) {
                                $("#empty_space").insertBefore(items_list[i]);
                                break;
                            }
                        }
                    }
                }
            </script>
            {% endif %}
        </div>
        <div id="empty_space"></div>
    {% endif %}
</body>
</html>